<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortner Service</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>FreeCodeCamp API Basejump: Image Search Abstraction Layer</h1>
        <h4>User Stories:</h4>
        <ol>
          <li> I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
          <li> I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
          <li> I can get a list of the most recently submitted search strings.</li>
        </ol>
        <h1>Example Query Usage</h1>
        <h4><span>https://img-search-abstraction.glitch.me/new/funny%20cats?offset=10</span></h4>
        <h4><span>https://img-search-abstraction.glitch.me/latest</span></h4>
        <h1>Example Query Output</h1>
        <p>[{</p><p><span>
  "url": "https://cdn.pixabay.com/photo/2016/04/16/23/07/cat-1333926_150.jpg",
  "tags":"cat, wink, funny",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/cat-wink-funny-fur-animal-red-1333926/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2015/05/11/11/35/cat-762342_150.jpg",
  "tags":"cat, meadow, cute",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/cat-meadow-cute-funny-solar-762342/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2014/05/07/06/44/animal-339400_150.jpg",
  "tags":"animal, cat, kitten",
  "thumbnail":"https://cdn.pixabay.com/user/2014/05/07/06-49-11-983_250x250.jpg",
  "context":"https://pixabay.com/en/animal-cat-kitten-funny-yawning-339400/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2016/09/01/14/15/doll-1636212_150.jpg",
  "tags":"doll, clown, sad",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/doll-clown-sad-cat-1636212/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2016/09/03/23/48/luggage-1643010_150.jpg",
  "tags":"luggage, antique, cat",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/luggage-antique-cat-1643010/"
}</span></p><p>, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2016/09/06/20/52/luggage-1650189_150.jpg",
  "tags":"luggage, antique, teddy",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/luggage-antique-teddy-cat-hidden-1650189/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2017/09/18/20/36/cat-2763152_150.jpg",
  "tags":"cat, mackerel, wildlife photography",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/cat-mackerel-wildlife-photography-2763152/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2017/09/18/20/36/cat-2763151_150.jpg",
  "tags":"cat, mackerel, wildlife photography",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/cat-mackerel-wildlife-photography-2763151/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2017/09/14/21/51/cat-2750518_150.jpg",
  "tags":"cat, mackerel, nikon",
  "thumbnail":"https://cdn.pixabay.com/user/2017/06/05/21-28-42-712_250x250.png",
  "context":"https://pixabay.com/en/cat-mackerel-nikon-photograph-2750518/"
</span></p><p>}, {</p><p><span>
  "url":"https://cdn.pixabay.com/photo/2017/09/07/18/46/cat-2726256_150.jpg",
  "tags":"cat, animal, cute",
  "thumbnail":"https://cdn.pixabay.com/user/2017/02/05/11-36-17-931_250x250.jpg",
  "context":"https://pixabay.com/en/cat-animal-cute-pet-kitten-2726256/"
}]</span></p>
        <h1>Example latest Output</h1>
        <p>[{</p><p><span>
  "query":"funny dogs",
  "date":"2017-10-09T07:10:26.646Z"
 </span></p><p>
}, {</p><p><span>
  "query": "funny cats",
  "date": "2017-10-09T07:01:06.690Z"</span></p><p>
}, {</p><p><span>
  "query": "funny dogs",
  "date": "2017-10-09T07:00:45.870Z"</span></p><p>
}, {</p><p><span>
  "term": "funny dogs",
  "date":"2017-10-09T07:00:09.160Z"</span></p><p>
}, {</p><p><span>
  "term": "latest",
  "date":"2017-10-09T06:57:40.162Z"</span></p><p>
}, {</p><p><span>
  "term": "funny cats",
  "date":"2017-10-09T06:56:15.153Z"</span></p><p>
}, {</p><p><span>
  "term": "funny cats",
  "date":"2017-10-09T06:55:22.906Z"</span></p><p>
}, {</p><p><span>
  "term": "funny cats",
  "date":"2017-10-09T06:55:05.921Z"</span></p><p>
}, {</p><p><span>
  "term": "funny cats",
  "date":"2017-10-09T06:46:38.577Z"</span></p><p>
}, {</p><p><span>
  "term": "funny cats",
  "date":"2017-10-09T06:41:54.461Z"</span></p><p>
}]</p>
      </div>
     <footer class="footer">
       <p>Created by : <a href="https://github.com/utsavkapoor" target="_blank">Utsav Kapoor</a></p>
       <p>Free Code Camp Challenge: <a href="https://www.freecodecamp.org/challenges/image-search-abstraction-layer" target="_blank">Image Search Abstraction Layer</a></p>
       <p>Search Engine API Provided by <br><a href="https://pixabay.com/" target="_blank" style="float:left;"><img src="https://pixabay.com/static/img/public/medium_rectangle_a.png" alt="Pixabay" style="height:50%;width:50%;float:left;"></a></p>
     </footer>
   </body>

</html>